# Projeto Stub
 
/bin
/obj/
tmp/
dist/
*.user
*.suo
_ReSharper.*
*.sln.cache
*.pdb
*.dll
*.FileListAbsolute.txt
/TestResults
/TestStub/bin
/TestStub/obj

#Tdd.Encontro2.Test/bin/
#Tdd.Encontro2.Test/obj/